/* Для экранов шириной до 1024px (планшеты) */
@media (max-width: 1024px) {
  
  .navbar {
      padding: 10px 0; /* Уменьшаем внутренние отступы */
      a {
        font-size: 20px; /* Уменьшаем размер шрифта для ссылок */
        padding: 8px 16px; /* Уменьшаем внутренние отступы для ссылок */
    }
  }
}

/* Для экранов шириной до 768px (мобильные устройства) */
@media (max-width: 768px) {
  html, body {
    flex-direction: column; /* Вертикальная компоновка на мобильных устройствах */
    padding: 5%;
  }
  .navbar {
      flex-direction: row; /* Вертикальная компоновка на мобильных устройствах */
      align-items: center; /* Выравнивание по левому краю */
      margin: 10px auto; /* Уменьшаем внешние отступы навбара */
      padding: 5px 0px; /* Минимальные внутренние отступы */
      a {
        font-size: 18px; /* Уменьшаем размер шрифта для ссылок */
        padding: 6px 12px; /* Уменьшаем внутренние отступы для ссылок */
        width: 100%; /* Задаем ширину ссылок на всю ширину контейнера */
        text-align: center; /* Центрируем текст внутри ссылок */
    }
  }

  .header {
    font-size: 28px; /* Дополнительное уменьшение размера заголовка */
  }

  h3 {
    font-size: 22px; /* Уменьшаем размер заголовка h3 */
  }

  p {
    font-size: 18px; /* Уменьшаем размер шрифта параграфа */
    margin-bottom: 10px; /* Уменьшаем отступы между абзацами */
  }
}

/* Для экранов шириной до 480px (очень маленькие экраны) */
@media (max-width: 480px) {
  .navbar {
      flex-direction: column; /* Вертикальная компоновка на мобильных устройствах */
      align-items: center;
      padding: 5px; /* Минимальные внутренние отступы */
      a {
        font-size: 16px; /* Минимальный размер шрифта для ссылок */
        padding: 4px 8px; /* Минимальные внутренние отступы для ссылок */
    }
  }
  .header {
    font-size: 24px; /* Уменьшаем размер заголовка еще больше */
  }

  h3 {
    font-size: 20px; /* Уменьшаем размер заголовка h3 */
  }

  p {
    font-size: 16px; /* Минимальный размер шрифта для параграфа */
  }

  a {
    font-size: 20px; /* Уменьшаем размер шрифта для ссылок */
  }
}